FreemiumUtil/Service References/ReportingServiceReference/ReportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://service.freemiumlab.com/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://service.freemiumlab.com/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://service.freemiumlab.com/ReportService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_SubmitNormalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNormalReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_SubmitNormalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNormalReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_SubmitBugReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitBugReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_SubmitBugReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitBugReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="SubmitNormalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/SubmitNormalReport" message="tns:IReportService_SubmitNormalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/SubmitNormalReportResponse" message="tns:IReportService_SubmitNormalReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBugReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/SubmitBugReport" message="tns:IReportService_SubmitBugReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/SubmitBugReportResponse" message="tns:IReportService_SubmitBugReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetLatestVersion" message="tns:IReportService_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetLatestVersionResponse" message="tns:IReportService_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitNormalReport">
      <soap:operation soapAction="http://tempuri.org/IReportService/SubmitNormalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBugReport">
      <soap:operation soapAction="http://tempuri.org/IReportService/SubmitBugReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://service.freemiumlab.com/ReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>